@font-face{
    font-family: "LCD";
    src:url('../../fonst/LCD/lcd.ttf');
    font-style: normal;
    font-weight: normal;
}

.App.colorful .box.digital {
    position: relative;
    background-size: cover;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    z-index: 1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-animation: animate 5s ease-in-out infinite;
    animation: animate 5s ease-in-out infinite;
    -webkit-animation-delay: -2.5s;
    animation-delay: -2.5s;
    overflow: hidden;
}

.App.colorful .digital.box:after {
    content: "";
    -webkit-filter: blur(10px);
    filter: blur(25px);
    background-size: cover;
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
}

.App.colorful .box.digital .clock {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.2));
    background-size: cover;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    -webkit-filter: blur(10px);
    filter: blur(0.7px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border-right: none;
    -webkit-box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1), 0px 40px 50px rgba(0, 0, 0, 0.2);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1), 0px 40px 50px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes animate {

    0%,
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes animate {

    0%,
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.divide{
    margin-left: 10px;
    margin-right: 10px;
}

.hour,.min,.sec,.divide{
    color:rgb(255, 255, 255);
    font-size: 4rem;
    font-family: "LCD";
}

.hr,
.mn,
.sc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.App.dark .box.digital .clock,
.App.light .box.digital .clock {
    width: 350px;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.App.dark {
    background: #091921;
}

.App.dark .box.digital .clock {
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    -webkit-box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05), 20px 20px 20px rgba(0, 0, 0, 0.3), inset -8px -8px 15px rgba(255, 255, 255, 0.05), inset 20px 20px 20px rgba(0, 0, 0, 0.3);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05), 20px 20px 20px rgba(0, 0, 0, 0.3), inset -8px -8px 15px rgba(255, 255, 255, 0.05), inset 20px 20px 20px rgba(0, 0, 0, 0.3);
}

.App.light .box.digital .clock {
    background: #d1dae3;
    background-size: cover;
    border: 4px solid #d1dae3;
    border-radius: 50%;
    -webkit-box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.App.dark .toggleClass {
    background: #d1dae3;
    color: #d1dae3;
}

.App.dark .toggleClass:before {
    content: 'Light Mode';
}

.App.light {
    background: #d1dae3;
}

@media (max-width: 420px) {
    .App.colorful .box.digital{
        width: 250px;
        height: 250px;
    }

    .App.dark .box.digital .clock,
    .App.light .box.digital .clock {
        width: 250px;
        height: 250px;
    }

    .box.digital .hour,.min,.sec,.divide{
        font-size: 3rem;
        font-family: "LCD";
    }
}